<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <title>Главная страница</title>
</head>
<body>
<p>
    <h3>Добро пожаловать на сайт <b>"Информационная поддержка малого бизнеса"!</b></h3>
    <h4>Мы стремимся помочь предпринимателям и владельцам малых компаний преуспеть в своих предприятиях, предоставляя актуальную информацию и инструменты, необходимые для успешного управления и развития бизнеса.

Малый бизнес является краеугольным камнем экономики, и мы осознаем важность поддержки и роста этого сектора. Наша цель - обеспечить предпринимателей полезными знаниями, советами и ресурсами, чтобы помочь им принимать осознанные решения, достигать финансовой стабильности и достигать поставленных целей.

На нашем сайте вы найдете широкий спектр информации по следующим темам:</h4>

    <ol>
        <li>
            Налогообложение: Узнайте о различных режимах налогообложения, таких как ОСНО, УСН, патентная система, и определите, какой режим налогообложения наиболее подходит для вашего бизнеса. Мы предоставляем налоговый калькулятор, который поможет вам рассчитать сумму налога для каждого режима.</li>
        <form action="/calculate" method="post">
            <input type="submit" value="Налоговый калькулятор">
        </form>

        <li>
            Финансы и учет: Изучите основы финансового учета, составления бюджета, анализа финансовых показателей и управления денежными потоками. Мы предоставляем практические руководства и инструменты, которые помогут вам эффективно управлять финансами вашего бизнеса.</li>
        <form action="/information1" method="post">
            <input type="submit" value="Финансы и учет">
        </form>

        <li>
            Маркетинг и продажи: Откройте для себя стратегии маркетинга и продаж, которые помогут вам привлекать клиентов, развивать вашу клиентскую базу и увеличивать прибыль. Мы делимся советами по цифровому маркетингу, управлению брендом, созданию эффективных маркетинговых кампаний и др.</li>
        <form action="/information2" method="post">
            <input type="submit" value="Маркетинг и продажи">
        </form>

        <li>
            Управление персоналом: Узнайте о ключевых аспектах управления персоналом, включая подбор и найм сотрудников, удержание талантов, мотивацию и развитие персонала. Мы предлагаем руководства и советы по созданию эффективных команд и поддержке сотрудников.</li>
        <form action="/information3" method="post">
            <input type="submit" value="Управление персоналом">
        </form>
        <li>
            Онлайн-курсы и вебинары: Мы предоставляем доступ к образовательным материалам в формате онлайн-курсов и вебинаров. Наши курсы разработаны с учетом потребностей малого бизнеса и охватывают широкий спектр тем. Вы сможете изучать материалы в удобное для вас время и темпе, получая ценные знания от ведущих экспертов в отрасли.
            <form action="/information4" method="post">
            <input type="submit" value="Онлайн-курсы и вебинары">
            </form>
        </li>
        <li>
            Форум и сообщество: У нас есть активное онлайн-сообщество, где предприниматели и малые бизнесы могут обмениваться опытом, задавать вопросы и получать ответы от экспертов. Форум - это отличное место для общения с единомышленниками, поиска партнеров и получения поддержки от других предпринимателей.
            <form action="/information5" method="post">
            <input type="submit" value="Форум и сообщество">
            </form>
        </li>
        <li>
            Откройте двери в мир предпринимательства с поддержкой и возможностями Краснодарского края. В этом привлекательном регионе начинающие предприниматели в малом бизнесе найдут идеальное окружение для своих идей и амбиций. Благоприятная бизнес-среда, доступ к информации, обучающие программы и консультации помогут воплотить в жизнь вашу предпринимательскую мечту.
            <form action="/information6" method="post">
            <input type="submit" value="Начинающие предприниматели">
            </form>
        </li>
    </ol>

<h4>Мы стремимся предоставить вам все необходимое, чтобы помочь вам развивать и укреплять свой бизнес. Обратите внимание на наши статьи, инструкции, калькуляторы и другие ресурсы, доступные на нашем сайте.

Мы верим в успех малого бизнеса и надеемся, что наша информационная поддержка будет ценным ресурсом для вас. Если у вас возникнут вопросы или вам потребуется дополнительная помощь, пожалуйста, свяжитесь с нами. Спасибо за ваше посещение, и желаем вам процветания в вашем предпринимательском пути!</h4>
</p>

</body>
</html>
